header {
    background-image: url("https://i.imgsafe.org/66/664e793057.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }