#quienesomos {
    background-image:url(../img/portada2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.social-header a {
    color:black;
}

.social-header a .fa-inverse {
    color: white;
}