{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Titulo -->
    <title>Mis profes - {% block title %} Title {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <!-- Estilos -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    {% block head %}
    {% endblock %}
</head>
<body>
<div class="content">      
    {% block header %}
    <!-- Carrusel -->
    {% endblock %}
    
    {% block content %}   
    {% endblock %}

    {% block footer %}
    <!-- Pie de página -->
    <div id="footer">
        
    </div>
    {% endblock %}    
</div>

    <!-- Scripts -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block extrajs %}
    {% endblock %}

</body>
</html>