{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Editar Profesiones</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="static/css/estilo.css">
  <link rel="stylesheet" href="static/css/quienesomos.css">
  <!-- Iconos Redes -->
  <script src="https://kit.fontawesome.com/a0ea3353d7.js"></script>


</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark"  id="topbar">
      <div class="container">
        <a class="navbar-brand" href="principal">Mis Profes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="principal">Inicio
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="profesores">Profesores</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="quienessomos">Quienes Somos
                      <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contacto">Contacto</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <!-- Header - set the background image for the header in the line below -->
  <header class="py-5 bg-image-full">
  </header>

  <!-- Content section -->
  <section class="py-5">
    <div class="container">

            <h1>Editar Profesion</h1>
            <form method="POST">
                {{ form }}
                {% csrf_token %}
                <button type="submit">Editar</button>
            </form>

    
    </div>

  </section>



  <!-- Footer -->
  <footer class="py-5 bg-dark" id="botbar">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Mis Profes 2019</p>
    </div>
    <!-- /.container -->
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
